* {
	box-sizing: border-box;
}
.main__container {
	max-width: 500px;
	margin: auto;
	height: 600px;
	margin-top: 100px;
	position: relative;
}
.container {
	/* display: none; */
	max-width: 500px;
	margin: auto;
	height: 450px;
	background-image: url("./assets/images/sprites/background-day.png");
	overflow: hidden;
	position: relative;
}

.base {
	width: 500px;
	height: 150px;
	background-image: url("./assets/images/sprites/base.png");
	background-repeat: repeat-x;
	background-size: 600px 150px;
	object-fit: cover;
	animation: animatedBase 4s linear infinite;
	overflow: hidden;
}
@keyframes animatedBase {
	0% {
		background-position: 0 0;
	}
	100% {
		background-position: -800px 0;
	}
}

.start-container {
	position: absolute;
	background-image: url("./assets/images/sprites/message.png");
	background-repeat: no-repeat;
	width: 400px;
	height: 450px;
	top: 0;
	left: -50px;
	transform: translateX(25%);
	z-index: 1;
}
.score {
	position: absolute;
	font-size: 40px;
	right: 0;
}

.gameOver {
	position: absolute;
	background-image: url("./assets/images/sprites/gameover.png");
	background-repeat: no-repeat;
	display: none;
	width: 400px;
	height: 450px;
	top: 0;
	left: -50px;
	transform: translateX(25%);
}

.instruction {
	text-align: center;
	font-size: 40px;
}
